- if @subject.success?
	.alert.alert-success
		%h1 Congrats!
		%h2 You will pass your final exam! Keep it up!
- else
	.alert.alert-danger
		%h1 Not so good...
		%h2 You will not pass the final exam! Stop drink and start studying!
